<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
            <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Qty') ?></span></label>
            <div class="control">
                <input type='button' value='-' class='qtyminus' field='qty' />
                <input type="number"
                       name="qty"
                       id="qty"
                       value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 1 ?>"
                       title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                       class="input-text qty"
                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
                <input type='button' value='+' class='qtyplus' field='qty' />
            </div>
        </div>
        <?php endif; ?>
        <div class="actions">
            <button type="submit"
                    title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
                    class="action primary tocart"
                    id="product-addtocart-button">
                <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<script type="text/javascript">

		window.orderPriceFormat = <?php /* @escapeNotVerified */ echo $this->helper('Magento\Tax\Helper\Data')->getPriceFormat($block->getStore()); ?>;
        //&lt;![CDATA[
        require(['jquery','Magento_Catalog/js/price-utils'], function ($,priceUtils) {
            setTimeout(function () {
                // This button will increment the value
                jQuery('body').on('click','.qtyplus',function (e) {
					console.log('click');
                    // Stop acting like a button
                    e.preventDefault();
                    // Get the field name
                    fieldName = jQuery(this).attr('field');
                    // Get its current value
                    var currentVal = parseInt(jQuery('input[name=' + fieldName + ']').val());

					var defaultqtyval = 0;
                    // If is not undefined
                    if (!isNaN(currentVal)) {
                        // Increment
                        defaultqtyval = currentVal + 1;
                    }
					jQuery('input[name=' + fieldName + ']').val(defaultqtyval);

					jQuery('.sizeqty-item .value').each(function(){
						jQuery(this).html(parseInt(jQuery(this).data('value'))*parseInt(defaultqtyval));
					});

					pricetoshow = jQuery('.takepricefrom .price-wrapper').data('price-amount')*defaultqtyval;
					jQuery('.price-total-pack .price').html(priceUtils.formatPrice(pricetoshow, window.orderPriceFormat));


                });
                // This button will decrement the value till 0
                jQuery("body").on('click','.qtyminus',function (e) {
					console.log('11');
                    // Stop acting like a button
                    e.preventDefault();
                    // Get the field name
                    fieldName = jQuery(this).attr('field');
                    // Get its current value
                    var currentVal = parseInt(jQuery('input[name=' + fieldName + ']').val());

					var defaultqtyval = 0;
                    // If it isn't undefined or its greater than 0
                    if (!isNaN(currentVal) && currentVal > 0) {
                        // Decrement one
                        defaultqtyval = currentVal - 1;
                    }
					jQuery('input[name=' + fieldName + ']').val(defaultqtyval);
					jQuery('.sizeqty-item .value').each(function(){
						jQuery(this).html(parseInt(jQuery(this).data('value'))*parseInt(defaultqtyval));
					});
					pricetoshow = jQuery('.takepricefrom .price-wrapper').data('price-amount')*defaultqtyval;
					jQuery('.price-total-pack .price').html(priceUtils.formatPrice(pricetoshow, window.orderPriceFormat));
				});
            }, 100);

			jQuery(document).ready(function(){
				pricetoshow = jQuery('.takepricefrom .price-wrapper').data('price-amount');
				jQuery('.price-total-pack .price').html(priceUtils.formatPrice(pricetoshow, window.orderPriceFormat));
			});
        });
        //]]&gt;
</script>
