<div class="size-char-section">
<div class="size-char-section-inner">
<?php
  $_helper = $this->helper('Magento\Catalog\Helper\Output');
  $_product = $block->getProduct();

  /* $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
  $product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
  $attributeSet = $objectManager->create('Magento\Eav\Api\AttributeSetRepositoryInterface');
  $attributeSetRepository = $attributeSet->get($_product->getAttributeSetId());
  $attribute_set_name = $attributeSetRepository->getAttributeSetName();
  $attributeSetId = $attributeSetRepository->getAttributeSetId();


  $attributes = $block->getAttributes($attributeSetId);
  echo '<pre>'; print_r($attributeSetRepository->getData());  */




  //$_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
  $s_size_qty = $_product->getResource()->getAttribute('s_size_qty')->getFrontend()->getValue($_product);
  $m_size_qty = $_product->getResource()->getAttribute('m_size_qty')->getFrontend()->getValue($_product);
  $l_size_qty = $_product->getResource()->getAttribute('l_size_qty')->getFrontend()->getValue($_product);
  $x1_size_qty = $_product->getResource()->getAttribute('x1_size_qty')->getFrontend()->getValue($_product);
  $x2_size_qty = $_product->getResource()->getAttribute('x2_size_qty')->getFrontend()->getValue($_product);
  $x3_size_qty = $_product->getResource()->getAttribute('x3_size_qty')->getFrontend()->getValue($_product);
  $qty_in_pack = $_product->getResource()->getAttribute('qty_in_pack')->getFrontend()->getValue($_product);
?>
<?php if ($s_size_qty || $l_size_qty || $m_size_qty || $qty_in_pack) { ?>
  <div class="sizeqty-main clearfix">
    <?php if ($s_size_qty) { ?>
      <div class="sizeqty-item">
        <div class="label"><?php /* @escapeNotVerified */ echo __('S') ?></div>
        <div class="value" data-value="<?php echo $s_size_qty; ?>"><?php echo $s_size_qty; ?></div>
      </div>
    <?php } ?>
    <?php if ($m_size_qty) { ?>
      <div class="sizeqty-item">
        <div class="label"><?php /* @escapeNotVerified */ echo __('M') ?></div>
        <div class="value" data-value="<?php echo $m_size_qty; ?>"><?php echo $m_size_qty; ?></div>
      </div>
    <?php } ?>
    <?php if ($l_size_qty) { ?>
      <div class="sizeqty-item">
        <div class="label"><?php /* @escapeNotVerified */ echo __('L') ?></div>
        <div class="value" data-value="<?php echo $l_size_qty; ?>"><?php echo $l_size_qty; ?></div>
      </div>
    <?php } ?>
    <?php if ($x1_size_qty) { ?>
      <div class="sizeqty-item">
        <div class="label"><?php /* @escapeNotVerified */ echo __('X1') ?></div>
        <div class="value" data-value="<?php echo $x1_size_qty; ?>"><?php echo $x1_size_qty; ?></div>
      </div>
    <?php } ?>
    <?php if ($x2_size_qty) { ?>
      <div class="sizeqty-item">
        <div class="label"><?php /* @escapeNotVerified */ echo __('X2') ?></div>
        <div class="value" data-value="<?php echo $x2_size_qty; ?>"><?php echo $x2_size_qty; ?></div>
      </div>
    <?php } ?>
    <?php if ($x3_size_qty) { ?>
      <div class="sizeqty-item">
        <div class="label"><?php /* @escapeNotVerified */ echo __('X3') ?></div>
        <div class="value" data-value="<?php echo $x3_size_qty; ?>"><?php echo $x3_size_qty; ?></div>
      </div>
    <?php } ?>
    <?php if ($qty_in_pack) { ?>
      <div class="sizeqty-item">
        <div class="label"><?php /* @escapeNotVerified */ echo __('Qty') ?></div>
        <div class="value" data-value="<?php echo $qty_in_pack; ?>"><?php echo $qty_in_pack; ?></div>
      </div>
    <?php } ?>
  </div>
<?php } ?>
</div>



<?php if($_product->getTypeId() == 'configurable'){ ?>
  <ul>
    <?php
      $_children = $_product->getTypeInstance()->getUsedProducts($_product);
      foreach ($_children as $child){
        ?>
          <li><?php
            echo $child->getResource()->getAttribute('color')->getFrontend()->getValue($child). " : ";
            ?>
            <?php if ($child->isAvailable()): ?>
            <?php
              $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
              $StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
                      $product = $objectManager->get('Magento\Catalog\Model\Product')->load($child->getId());
                      $stock      = $StockState->getStockQty($product->getId(), $product->getStore()->getWebsiteId());
                      if($stock<=0 && (int)$product->getIsPreordered()){ ?>
                        <?php $predate = date('M jS Y', strtotime($product->getArrivalDate()));?>
                        <strong><?= /* @escapeNotVerified */ __('Pre Order') ?></strong>
                        <span class="date"><span class="arrival"><?= /* @escapeNotVerified */ __('Expected Arrival: ') ?></span><?php echo $predate; ?></span>

            <?php }else{ ?>
                <strong><?= /* @escapeNotVerified */ __('In stock') ?></strong>
            <?php } ?>
          <?php else: ?>
                  <strong><?= /* @escapeNotVerified */ __('Out of stock') ?></strong>
          <?php endif; ?>
          </li><?php
      }
    ?>
  </ul>

<?php } ?>
</div>
<script>
    require([
        'jquery'
    ], function ($) {
        'use strict';
        $('.product-info-main').addClass('<?php echo $_product->getTypeId() ?>')
    });
</script><?php  echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('schedule_an_appointment')->toHtml();?>