<!--@subject {{var request.getIncrementId()}}: Comment has been placed  @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var request.getId()":"RMA ID",
"var request.getIncrementId()":"Order ID",
"var request.getCustomerFirstname()":"First Name",
"var request.getCustomerLastname()":"Last Name",
"var request.getStatusLabel()":"Status",
"var comment.getCommentText()":"Comment",
"var comment.getCommentUrl()":"Comment URL",
"var comment.getFileName()":"File",
"layout handle=\"amasty_rma_email_files\" comment=$comment":"Return Items Grid"
}
@-->

{{template config_path="design/email/header_template"}}

<div>
    Dear, {{var request.getCustomerFirstname()}} {{var request.getCustomerLastname()}}<br/>
    New comment placed to your RMA #{{var request.getId(}} Order #{{var request.getIncrementId()}}<br/>
    ----------------------------------------------------------------------<br/>
    {{var comment.getCommentText()}}<br/>
    <a href="{{var comment.getCommentUrl()}}">Read comment</a><br/>
    ----------------------------------------------------------------------<br/>
    {{layout handle="amasty_rma_email_files" comment=$comment}}

    {{depend request.allowPrintLabel()}}
    <a href="{{var request.getPrintLabelUrl()}}">Print label</a> <br/>
    <a href="{{var request.getConfirmShippingUrl()}}">Confirm shipping</a>
    {{/depend}}
</div>

{{template config_path="design/email/footer_template"}}
