<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /* @var $block \Magento\Catalog\Block\Product\View\AbstractView */?>
<?php $_product = $block->getProduct() ?>

<?php if ($block->displayProductStockStatus()): ?>
    <?php if ($_product->isAvailable()): ?>
        <div class="stock available" title="<?= /* @escapeNotVerified */ __('Availability') ?>">
			<?php
				$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
				$StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
                $product = $objectManager->get('Magento\Catalog\Model\Product')->load($_product->getId());
                $stock      = $StockState->getStockQty($_product->getId(), $product->getStore()->getWebsiteId());
                if($stock<=0 && (int)$_product->getIsPreordered()){ ?>
                  <?php $predate = date('M jS Y', strtotime($_product->getArrivalDate()));?>
                          <span class="date"><span class="arrival"><?= /* @escapeNotVerified */ __('Expected Arrival: ') ?></span><?php echo $predate; ?></span>
				                 <span><?= /* @escapeNotVerified */ __('Pre Order') ?></span>
			<?php }else{ ?>
					<span><?= /* @escapeNotVerified */ __('In stock') ?></span>
			<?php } ?>
        </div>
    <?php else: ?>
        <div class="stock unavailable" title="<?= /* @escapeNotVerified */ __('Availability') ?>">
            <span><?= /* @escapeNotVerified */ __('Out of stock') ?></span>
        </div>
    <?php endif; ?>
<?php endif; ?>
