<!-- ko if: getVisibilty($parent) -->
<li class="item product product-item" data-role="product-item">
    <div class="product">
		<!-- ko foreach: getRegion('before_details') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
		<!-- /ko -->
		<div class="product-item-details">
			<form action="" method="post" data-role="product-attributes" data-bind="attr: {'data-item-id': $parent.item_id}">
			<div class="product-item-inner">
				<div class="product-item-name-block">
					<strong class="product-item-name" data-bind="text: $parent.name"></strong>
					<div class="details-qty">
						<span class="label"><!-- ko i18n: 'Qty' --><!-- /ko --></span>
						<span class="item-options" data-bind="html: $parent.qty" />
					</div>
					<!-- ko if: getStockStatusHtml($parent) -->
						<div style="background: #fdf0d5 none repeat scroll 0 0; padding: 12px; margin-top: 10px" data-bind="html: getStockStatusHtml($parent)"/>
					<!-- /ko -->
				</div>
				<!-- ko foreach: getRegion('after_details') -->
				<!-- ko template: getTemplate() --><!-- /ko -->
				<!-- /ko -->
			</div>

			<!-- ko if: (JSON.parse($parent.options).length > 0)-->
			<div class="product options" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}">
				<span data-role="title" class="toggle"><!-- ko i18n: 'View Details' --><!-- /ko --></span>
				<div data-role="content" class="content">
					<strong class="subtitle"><!-- ko i18n: 'Options Details' --><!-- /ko --></strong>
					<dl class="item-options">
						<!--ko foreach: JSON.parse($parent.options)-->
						<dt class="label" data-bind="text: label"></dt>
							<!-- ko if: ($data.full_view)-->
							<dd class="values" data-bind="html: full_view"></dd>
							<!-- /ko -->
							<!-- ko ifnot: ($data.full_view)-->
							<dd class="values" data-bind="html: value"></dd>
							<!-- /ko -->
						<!-- /ko -->
					</dl>
				</div>
			</div>
			<!-- /ko -->
			<!--ko text: initOptions($parent) -->
			<!-- /ko -->
			</form>
		</div>
	</div>
</li>
<!-- /ko -->