// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Email extend styles
//  _____________________________________________

//  This file should be used for theme-specific styles for emails that extend or modify the styles in _email.less
//  This will allow you to edit email styles without copying and editing the _email.less file

//  Custom fonts are declared here, rather than in _email-base.less, as it allows for custom fonts to be changed/removed
//  in custom themes.

//  Importing fonts from an external CSS file, rather than embedding @font-face declarations inside the <style> tag,
//  as the latter will cause font rendering issues if the web fonts are inaccessible.

@import url("@{baseUrl}css/email-fonts.css");



//  Themes.email - template specific styles
//  ---------------------------------------------

// Colored //
a { color: #2BAADF; text-decoration: none; }

p { color: #666666; font-size: 13px; line-height: 1.2; }

h1 { color: #666666; font-size: 22px; line-height: 1.1; }
h2 { color: #666666; font-size: 18px; line-height: 1.1; }
h3 { color: #666666; font-size: 16px; line-height: 1.1; }
h4 { color: #666666; font-size: 15px; line-height: 1.1; }
h5 { color: #666666; font-size: 14px; line-height: 1.1; }
h6 { color: #666666; font-size: 13px; line-height: 1.1; }

ul li {margin-bottom: 0px;}

tr.email-intro{
    // Intro text
    td{
        p{
            font-size: 12px;
            a{
            }
        }
    }
}
tr.email-summary{
    // Title of email eg. your order number
    td{    
        padding-top: 20px;
        border-top: 1px solid #ebebeb;
        padding-bottom: 20px;
        border-bottom: 1px solid #ebebeb;
        h1{
            border-bottom: none;
            margin-bottom: 0px;
            padding-bottom: 5px;
            span{
                font-weight: bold;
            }
        }
        p{
            font-size: 10px;
            margin-bottom: 0px;
            span{
            }
        }
    }

}
tr.email-information{
    td{
        padding-top: 20px;
        table.order-details{
            // Address & Method box
            tr{
                td.address-details{
                    h3{
                        font-size: 14px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
            }
            tr{
                td.method-info{
                    h3{
                        font-size: 14px;
                    }
                    p{
                        font-size: 12px;
                    }
                    dl{
                        dt{
                            color: #666666; font-size: 12px;
                        }
                    }
                }
            }
        }
        table.email-items{
            // Title of order items
            thead{
                tr{
                    th.item-info,
                    th.item-qty,
                    th.item-price{
                        text-transform: uppercase;
                        font-size: 11px;
                    }
                }
            }
            // Items of the Order
            tbody{
                tr {
                    td.item-info,
                    td.item-qty,
                    td.item-price{
                        border-top: 1px solid #ebebeb;
                    }
                    td.item-info{
                        .product-name{
                        }
                        .sku{
                            font-size: 11px;
                        }
                    }

                }    
            }
            // Totals
            tfoot.order-totals {
                tr {
                    th {
                        padding-top: 0px!important;
                    }
                    td {
                        padding-top: 0px!important;
                        span{
                        }
                    }
                }
                tr.grand_total{
                    th {
                        background-color: #ededed;
                        padding-top: 10px;
                        font-size: 18px;
                    }
                    td {
                        background-color: #ededed;
                        padding-top: 10px;
                        // Grand Total Price
                        .price {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

.button {
    tr {
        td{
            .inner-wrapper{
                tr {
                    td{
                        // Colored -- bg of button
                        background-color: #2BAADF;
                        border-radius: 3px;
                        vertical-align: top;
                        a{
                            color: #ffffff;
                            text-decoration: none;
                            border-radius: 3px;
                            // Colored -- border of button
                            border: 1px solid #2BAADF;
                            display: inline-block;
                            font-size: 13px;
                            padding: 7px 15px;
                        }
                    }
                }
            }
        }
    }
}

.email-non-inline() {
    a:visited {
        // Colored --
        color: #2BAADF !important;
        text-decoration: none !important;
    }

    a:hover {
        // Colored --
        color: #2BAADF !important;
        text-decoration: none !important;
    }

    a:active {
        // Colored --
        color: #2BAADF !important;
        text-decoration: none !important;
    }
    .inner-wrapper td:hover{
        // Colored -- bg of button on hover effect
        background-color: #2BAADF !important;
    }
    .inner-wrapper td a:hover{
        border-bottom: none!important;
    }
    
    //  Remove link color on iOS
    .no-link a {
        color: #666666 !important;
        cursor: default !important;
        text-decoration: none !important;
    }
}

