// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Luma theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

@screen__l:991px;
//  Fonts
@font-family-name__base: 'Nunito', sans-serif;
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//  Colors nesting
@page__background-color: @color-white;

//
//  Icons
//  ---------------------------------------------

@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';

@icon-calendar__font-size: 23px;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  Sidebar blocks
//  ---------------------------------------------
@active__color : #000000;
@color-orange-red1 : #000000;
@block-items__counter__color: @color-gray43;

@max1199: ~"only screen and (max-width: 1199px)";
@max1024: ~"only screen and (max-width: 1024px)";
@max991: ~"only screen and (max-width: 991px)";
@max767: ~"only screen and (max-width: 767px)";
@max640: ~"only screen and (max-width: 640px)";
@max639: ~"only screen and (max-width: 639px)";
@max575: ~"only screen and (max-width: 575px)";
@max480: ~"only screen and (max-width: 480px)";
@max360: ~"only screen and (max-width: 360px)";
@min1024: ~"only screen and (min-width: 1024px)";
