<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Coupons
 */
?>
<?php

// @codingStandardsIgnoreFile

?>
<?php
/**
 * @var \Amasty\Coupons\Block\Adminhtml\Order\Create\Coupons\Form $block
 */
?>

<div class="admin__field field-apply-coupon-code">
    <label class="admin__field-label"><span><?= /* @escapeNotVerified */__('Apply Coupon Code') ?></span></label>
    <div class="admin__field-control">
        <input type="text" class="admin__control-text" id="coupons:code" value="" name="coupon_code"/>
        <input type="hidden" class="input-text" id="coupon_code" name="coupon_code"/>
        <?= $block->getButtonHtml(__('Apply'), $block->getCouponJs()) ?>
        <?php $coupons = $block->getCouponsCodes(); ?>
        <?php if ($coupons): ?>
            <?php foreach ($coupons as $coupon): ?>
                <p class="added-coupon-code">
                    <span><?= $block->escapeHtml($coupon) ?></span>
                    <input type="hidden" class="amCouponsCode" value="<?php echo $coupon; ?>"/>
                    <a href="#" title="<?= /* @escapeNotVerified */ __('Remove Coupon Code') ?>"
                       class="action-remove"><span><?= /* @escapeNotVerified */ __('Remove') ?></span></a>
                </p>
            <?php endforeach; ?>
        <?php endif; ?>
        <script>
            require(["Magento_Sales/order/create/form"], function () {
                order.overlay('shipping-method-overlay', <?php if ($block->getQuote()->isVirtual()): ?>false<?php else: ?>true<?php endif; ?>);
                order.overlay('address-shipping-overlay', <?php if ($block->getQuote()->isVirtual()): ?>false<?php else: ?>true<?php endif; ?>);
            });
            require(["Amasty_Coupons/js/coupon"]);
        </script>
    </div>
</div>
