<?php
/** @var \ParadoxLabs\TokenBase\Block\Form\Ach $block */
// @codingStandardsIgnoreFile

$code           = $block->escapeQuote($block->getMethodCode());
$image          = $block->getBrandingImage();
$storedCards    = $block->getStoredCards();
?>
<div id="payment_form_<?php echo $code ?>" class="admin__page-section-item" style="display:none;"
     data-mage-init='{"tokenbaseForm":{"code":"<?php echo $code ?>"}}'>
    <input id="<?php echo $code ?>-payment-method" type="hidden" name="payment[method]" value="<?php echo $code ?>" />
    <fieldset class="admin__fieldset">
        <?php if ($image): ?>
            <div class="page-actions">
                <img src="<?php echo $block->escapeUrl($image); ?>" />
            </div>
        <?php endif; ?>
        <?php if ($block->haveStoredCards()): ?>
            <div class="admin__field">
                <div class="admin__field-control control">
                    <select id="<?php echo $code ?>-card-id" name="payment[card_id]" class="select admin__control-select">
                        <?php /** @var \ParadoxLabs\TokenBase\Model\Card $card */ ?>
                        <?php foreach ($storedCards as $card): ?>
                            <?php $card = $card->getTypeInstance(); ?>
                            <option value="<?php echo $block->escapeQuote($card->getHash()) ?>" <?php if ($card->getId() == $block->getInfoData('tokenbase_id') || count($storedCards) == 1): ?>selected="selected"<?php endif; ?>>
                                <?php echo $block->escapeHtml($card->getLabel()) ?>
                            </option>
                        <?php endforeach; ?>
                        <option value='' <?php if (count($storedCards) > 1 && $block->getInfoData('tokenbase_id') == ''): ?>selected="selected"<?php endif; ?>><?php echo $block->escapeHtml(__('Add new card')) ?></option>
                    </select>
                </div>
            </div>
        <?php endif; ?>
        <div class="admin__field hide-if-card-selected">
            <label class="label admin__field-label" for="<?php echo $code ?>-echeck-account-name"><?php echo $block->escapeHtml(__('Name on Account')) ?><span class="required">*</span></label>
            <div class="admin__field-control control">
                <input type="text" id="<?php echo $code ?>-echeck-account-name" name="payment[echeck_account_name]" title="<?php echo $block->escapeQuote(__('Name on Account')) ?>" class="input-text admin__control-text" value="<?php echo $block->escapeQuote($block->getInfoData('echeck_account_name')); ?>" maxlength="22" />
            </div>
        </div>
        <div class="admin__field hide-if-card-selected">
            <label class="label admin__field-label" for="<?php echo $code ?>-echeck-bank-name"><?php echo $block->escapeHtml(__('Bank Name')) ?><span class="required">*</span></label>
            <div class="admin__field-control control">
                <input type="text" id="<?php echo $code ?>-echeck-bank-name" name="payment[echeck_bank_name]" title="<?php echo $block->escapeQuote(__('Bank Name')) ?>" class="input-text admin__control-text" value="<?php echo $block->escapeQuote($block->getInfoData('echeck_bank_name')); ?>" maxlength="50" autocomplete="off" />
            </div>
        </div>
        <div class="admin__field hide-if-card-selected">
            <label class="label admin__field-label" for="<?php echo $code ?>-echeck-routing-number"><?php echo $block->escapeHtml(__('Routing Number')) ?><span class="required">*</span></label>
            <div class="admin__field-control control">
                <input type="text" id="<?php echo $code ?>-echeck-routing-number" name="payment[echeck_routing_no]" title="<?php echo $block->escapeQuote(__('Routing Number')) ?>" class="input-text admin__control-text" value="<?php echo $block->escapeQuote($block->getInfoData('echeck_routing_no')); ?>" maxlength="9" autocomplete="off" />
            </div>
        </div>
        <div class="admin__field hide-if-card-selected">
            <label class="label admin__field-label" for="<?php echo $code ?>-echeck-account-number"><?php echo $block->escapeHtml(__('Account Number')) ?><span class="required">*</span></label>
            <div class="admin__field-control control">
                <input type="text" id="<?php echo $code ?>-echeck-account-number" name="payment[echeck_account_no]" title="<?php echo $block->escapeQuote(__('Account Number')) ?>" class="input-text admin__control-text" value="<?php echo $block->escapeQuote($block->getInfoData('echeck_account_no')); ?>" maxlength="17" autocomplete="off" />
                <?php /* Admin tooltip no workie 2015-08-14 2.0.0-b1
                <?php $expln    = __('On the bottom of your checks, you will see three groups of numbers. Usually the first one is your routing number, and the second is your account number.'); ?>
                <?php $image    = $block->getViewFileUrl('ParadoxLabs_TokenBase::images/ach.png'); ?>
                <?php $alt      = __('Visual reference for locating routing number and account number on a check'); ?>
                <?php $tooltip  = '<p>'.$expln.'</p><img src="'.$image.'" alt="'.$alt.'" />'; ?>
                <div class="admin__field-note note">
                    <a href="#" class="action cvv" title="<?php echo $block->escapeQuote(__('What is this?')) ?>"
                       data-mage-init='{"tooltip": {"content": "<?php echo addslashes($tooltip) ?>"}}'>
                        <span><?php echo $block->escapeHtml(__('Where do I find these numbers?')) ?></span>
                    </a>
                </div>*/ ?>
            </div>
        </div>
        <div class="admin__field hide-if-card-selected">
            <label class="label admin__field-label" for="<?php echo $code ?>-echeck-account-type" ><?php echo $block->escapeHtml(__('Account Type')) ?><span class="required">*</span></label>
            <div class="admin__field-control control">
                <select id="<?php echo $code ?>-echeck-account-type" name="payment[echeck_account_type]" class="account-type required-entry _required select admin__control-select">
                    <?php foreach ($block->getHelper()->getAchAccountTypes() as $k => $v): ?>
                        <option value="<?php echo $block->escapeQuote($k); ?>" <?php if ($k == $block->getInfoData('echeck_account_type')): ?>selected="selected"<?php endif ?>><?php echo $block->escapeHtml($v); ?></option>
                    <?php endforeach ?>
                </select>
            </div>
        </div>
        <?php echo $block->getChildHtml(); ?>
        <?php if (!$block->isGuestCheckout()): ?>
            <div class="admin__field hide-if-card-selected">
                <div class="admin__field-control control">
                    <?php if ($block->getMethod()->getConfigData('allow_unsaved')): ?>
                        <input type="hidden" name="payment[save]" value="0" />
                        <input type="checkbox" title="<?php echo $block->escapeQuote(__('Save for next time')) ?>" class="input-checkbox" id="<?php echo $code ?>-save" name="payment[save]" value="1" <?php if ($block->getMethod()->getConfigData('savecard_opt_out') && $block->getInfoData('save') !== 0): ?>checked="checked"<?php endif; ?> />
                        <label for="<?php echo $code ?>-save"><?php echo $block->escapeHtml(__('Save for next time')) ?></label>
                    <?php else: ?>
                        <input type="hidden" name="payment[save]" value="1" />
                        <label class="label admin__field-label" for="<?php echo $code ?>-save"><?php echo $block->escapeHtml(__('For your convenience, this data will be stored securely by our payment processor.')) ?></label>
                    <?php endif; ?>
                </div>
            </div>
        <?php endif; ?>
    </fieldset>
</div>
