// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Page components
//  ---------------------------------------------

@import 'checkout/_checkout.less';
@import 'checkout/_estimated-total.less';
@import 'checkout/_progress-bar.less';
@import 'checkout/_fields.less';
@import 'checkout/_modals.less';
@import 'checkout/_tooltip.less';
@import 'checkout/_shipping.less';
@import 'checkout/_shipping-policy.less';

@import 'checkout/_sidebar.less';
@import 'checkout/_sidebar-shipping-information.less';
@import 'checkout/_order-summary.less';
@import 'checkout/_authentication.less';

@import 'checkout/_payments.less';
@import 'checkout/_payment-options.less';
@import 'checkout/_checkout-agreements.less';



@media @max767{
  .checkout-index-index {
      #checkout.am-checkout {
          padding: 0;
          .checkout-block {
              margin: 0 0 15px 0;
          }
          .checkout-payment-method {
            	.payment-methods,
              .payment-option {
            		  margin: 0;
            	}
          }
      }
  }

}
