.ui-autocomplete-input {
    width: 96%;
}

.ui-autocomplete {
    max-height: 350px;
    overflow: hidden auto;
}

.ui-menu .ui-menu-item {
    cursor: pointer;
}

.amasty-xml-table {
    table-layout: fixed;
}

.amasty-xml-table th.amasty-parent {
    width: 100px;
}

.amasty-xml-table th.amasty-length {
    width: 80px;
}

.amasty-xml-table input,
.amasty-xml-table select {
    width: 100%;
}

.amasty-xml-table td,
.amasty-xml-table th {
    padding: 1rem 1rem 1rem 0;
}

.CodeMirror {
    border: 1px solid #adadad;
}

.amasty-xml-table {
    border: 1px solid #adadad;

    border-top-width: 0;
}

.cm-s-default .cm-amtag {
    color: #708;
}

.cm-s-default .cm-amcdata {
    color: #219;
}

.amasty-modify select {
    width: 30% !important;
    margin: 0 1.3rem;
}

.amasty-modify input {
    width: 15% !important;
    margin: 0 1.3rem;
}

.amasty-modify button {
    margin: 0 1.3rem;
}

td.amasty-modify-cell table {
    width: 100%;
}

.amasty-xml-table td.amasty-modify-cell,
.amasty-csv-table td.amasty-modify-cell {
    border-bottom-width: 1px;
    border-color: white;
    border-style: solid;
    padding-top: 0;
}

.amasty-xml-table td.amasty-modify-cell td,
.amasty-csv-table td.amasty-modify-cell td {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.amasty-xml-table td,
.amasty-csv-table td {
    border: 0;
}

.admin__control-table td, .admin__control-table th {
    padding: 0.5rem 2.5rem 0.5rem 0;
}

.amasty-hide-link {
    padding-right: 1rem;
}

.modal-popup {
    z-index: 6000;
}

#amasty_feed_content_attributes_condition {
    width: 59%;
}
