<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var \Magento\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer $block */ ?>
<?php $_item = $block->getItem() ?>
<?php $block->setPriceDataObject($_item) ?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$product = $objectManager->get('Magento\Catalog\Model\Product')->load($_item->getProductId());?>
<tr>
    <?php $i = 0;
    $columns = $block->getColumns();
    $lastItemNumber = count($columns) ?>
    <?php foreach ($columns as $columnName => $columnClass):?>
        <?php $i++; ?>
        <td class="<?php echo /* @noEscape */ $columnClass?><?php /* @noEscape */ echo ($i === $lastItemNumber ? ' last' : '')?>">
        <?php if($columnName=="qty"){
        	?>
        <div class="size_pack">
            <div class="small_cart">s</div><div class="medium_cart">m</div><div class="large_cart">l</div>
                         <div class="small_cart_value"><?php echo $_item->getData('qty_ordered')*$product->getData('small')?> </div> <div class="medium_cart_value"> <?php echo $_item->getData('qty_ordered')*$product->getData('medium')?></div> <div class="large_cart_value"> <?php echo $_item->getData('qty_ordered')*$product->getData('large');?></div>
            </div>
            <?php }?>
      <?php if($columnName=="small"){
      	
echo floor($_item->getData('qty_ordered')*$product->getData('small')*3); 
      	}else{?>
        <?php /* @escapeNotVerified */ echo $block->getColumnHtml($_item, $columnName) ?>
        	<?php }?>
        </td>
    <?php endforeach; ?>
</tr>
<style type="text/css">
	.size_pack{ padding-bottom:5px;}
	.size_pack:after{ display:block; content:''; clear:both;}
	.size_pack > div{ width:33.33%; display:block; float:left; text-align:center; text-transform:uppercase; padding:4px 0;}
	.size_pack .small_cart, .size_pack .medium_cart, .size_pack .large_cart{ border-bottom:1px solid #999;}
</style>