<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php /** @var \Magento\Framework\Pricing\Render\Amount $block */ ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of Object Manager
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper

//$unit_price = $block->getSaleableItem()->getData('unit_price');
$_product = $objectManager->create('Magento\Catalog\Model\Product')->load($block->getSaleableItem()->getId());
$qty_in_pack = $_product->getResource()->getAttribute('qty_in_pack')->getFrontend()->getValue($_product);
if($qty_in_pack > 0){
	$unit_price = $block->getDisplayValue() / $qty_in_pack;
	if($unit_price) {
		$formattedPrice = $priceHelper->currency($unit_price, true, false);
	?>
	<span class="price-container price-unit_price">
        <span class="price-label"><?php echo __('Unit Price'); ?></span>
        <span class="now-price-label"><?php echo __('Sale'); ?></span>
		<span class="price-wrapper"><span class="price"><?php echo $formattedPrice; ?></span></span>
	</span>
	<?php } ?>
<?php } ?>

<span class="price-container takepricefrom <?php /* @escapeNotVerified */ echo $block->getAdjustmentCssClasses() ?>"
        <?php echo $block->getSchema() ? ' itemprop="offers" itemscope itemtype="http://schema.org/Offer"' : '' ?>>
    <?php if ($block->getDisplayLabel()): ?>
        <span class="price-label"><?php /* @escapeNotVerified */ echo $block->getDisplayLabel(); ?></span>
        <span class="now-price-label">Sale</span>
    <?php endif; ?>
    <span <?php if ($block->getPriceId()): ?> id="<?php /* @escapeNotVerified */ echo $block->getPriceId() ?>"<?php endif;?>
        <?php echo($block->getPriceDisplayLabel()) ? 'data-label="' . $block->getPriceDisplayLabel() . $block->getPriceDisplayInclExclTaxes() . '"' : '' ?>
        data-price-amount="<?php /* @escapeNotVerified */ echo $block->getDisplayValue(); ?>"
        data-price-type="<?php /* @escapeNotVerified */ echo $block->getPriceType(); ?>"
        class="price-wrapper <?php /* @escapeNotVerified */ echo $block->getPriceWrapperCss(); ?>"
        <?php echo $block->getSchema() ? ' itemprop="price"' : '' ?>>
        <?php /* @escapeNotVerified */ echo $block->formatCurrency($block->getDisplayValue(), (bool)$block->getIncludeContainer()) ?>
    </span>
    <?php if ($block->hasAdjustmentsHtml()): ?>
        <?php echo $block->getAdjustmentsHtml() ?>
    <?php endif; ?>
    <?php if ($block->getSchema()): ?>
        <meta itemprop="priceCurrency" content="<?php /* @escapeNotVerified */ echo $block->getDisplayCurrencyCode()?>" />
    <?php endif; ?>
</span>

<span class="price-container price-total-pack" style="color: #f50;font-weight: bold;">
	<span class="price-label"><?php echo __('Subtotal'); ?></span>
	<span class="price-wrapper"><span class="price">$00.00</span></span>
</span>