.sitemapTree-0 li > ul {
    padding-left: 0;
}

.sitemapSection {
    padding-bottom: 35px;
}

.sitemapSection h2 {
    padding-bottom: 15px;
}


.sitemapSection .am-sitemap-wrap a.disabledLink {
    color : #333333;
    cursor: default;
    text-decoration: none;
}

.sitemapSection .am-sitemap-wrap a .text-highlight {
    color: #F94D1A;
}

.am-sitemap-cell {
    padding: 0 5px 5px 0
}

.am-clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.am-clearfix {
    display: inline-block;
    width: 100%;
}

html[xmlns] .am-clearfix {
    display: block;
}

* html .am-clearfix {
    height: 1%;
}

.htmlsitemap-search-input {
    display: block;
    width: 100%;
}

.htmlsitemap-search-wrapper label {
    display: block;
    padding-bottom: 5px;
    font-weight: bold;
}


.htmlsitemap-search-wrapper {
    margin: 0 auto;
    width: 50%;
    display: block;
}

.sitemapSection ul {
    padding-left: 1.5em;
}

.sitemapSection ul li {
    margin-left: 2em;
}

.am-sitemap-cell li {
    list-style-type: none;
}