<div class="container">
    <div class="footer-wrapper">
        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('weltpixel_footer_v3')->toHtml(); ?>
    </div>
</div>
<script>
    require(['jquery', 'slick'], function($) {
        $(document).ready(function() {
            $(".home-slider").slick({
                arrows: false,
                dots: true,
                adaptiveHeight: true,
                autoplay: true,
                autoplaySpeed: 2000,
            });
            $(".home-page-category .product-items").slick({
                arrows: true,
                dots: false,
                slidesToShow: 4,
                slidesToScroll: 1,
                autoplay: true,
                responsive: [{
                        breakpoint: 1200,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 2
                        }
                    },
                    {
                        breakpoint: 575,
                        settings: {
                            slidesToShow: 1
                        }
                    }

                ]
            });


            $('.big-lookbook-items').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                asNavFor: '.child-lookbook-items'
            });
            $('.child-lookbook-items').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                asNavFor: '.big-lookbook-items',
                dots: false,
                centerMode: true,
                focusOnSelect: true
            });
        });
    });
</script>