<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Rma
 */
?>
<?php /** @var \Amasty\Rma\Block\Adminhtml\Request\Edit\Comments $block */
foreach ($block->getFiles($block->getComment()->getId()) as $file) : ?>
    <?php /** @var \Amasty\Rma\Model\File $file */ ?>
    <a href="<?= $file->getHref(); ?>">
        <?= $file->getName(); ?>
    </a><br />
<?php endforeach; ?>
