<script>
    require(["jquery", 'underscore', 'Magento_Ui/js/modal/modal'], function ($, _, modal) {
        /** Events listener **/
        $(document).on('ajaxComplete', function (event, xhr, settings) {
            var parentBody = window.parent.document.body;
            var cartMessage = false;
            var closeSeconds  = parseInt(window.weltpixel_quickview.closeSeconds);
            var showShoppingCheckoutButtons  = parseInt(window.weltpixel_quickview.showShoppingCheckoutButtons);
            if (settings.type.match(/get/i) && _.isObject(xhr.responseJSON)) {
                var result = xhr.responseJSON;
                if (_.isObject(result.messages)) {
                    var messageLength = result.messages.messages.length;
                    var message = result.messages.messages[0];
                    if (messageLength) {
                        cartMessage = message.text;
                    }
                }
                if (_.isObject(result.cart) && _.isObject(result.messages)) {
                    var messageLength = result.messages.messages.length;
                    var message = result.messages.messages[0];
                    if (messageLength) {
                        cartMessage = message.text;
                    }
                }

                if  (cartMessage) {
                    window.parent.weltpixel_quickview.showMiniCartFlag = true;
                }


                if (showShoppingCheckoutButtons && cartMessage) {
                    $('<div />').html('')
                        .modal({
                            title: cartMessage,
                            autoOpen: true,
                            buttons: [{
                                text: "<?php echo __('Continue Shopping'); ?>",
                                attr: {
                                    'data-action': 'confirm'
                                },
                                'class': 'action primary',
                                click: function () {
                                    this.closeModal();
                                    $('.mfp-close', parentBody).trigger('click');
                                }
                            },
                                {
                                    text: "<?php echo __('Go To Checkout'); ?>",
                                    attr: {
                                        'data-action': 'cancel'
                                    },
                                    'class': 'action primary',
                                    click: function () {
                                        parent.window.location = '<?php echo $block->getUrl('checkout', ['_secure' => true]);?>'
                                    }
                                }]
                        });
                }

                if (closeSeconds && cartMessage) {
                    setTimeout(function(){
                        $('.mfp-close', parentBody).trigger('click');
                    }, closeSeconds * 1000);
                }
            }
        });
    });
</script>
<?php
$_helper = $this->helper('WeltPixel\Quickview\Helper\Data');
$customCss = $_helper->getCustomCSS();
?>
<?php if (strlen($customCss)) : ?>
<style>
<?php echo $customCss; ?>
</style>
<?php endif; ?>