<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Reports
 */
?>
<?php /** @var \Amasty\Reports\Block\Adminhtml\Report\Chart $block */ ?>

<div class="content" data-role="amreports-content">
    <script>
        window.chartData = [];
        <?php
        foreach ($block->getCollection() as $item) {
        ?>
            window.chartData.push({
                date: '<?php echo $item->getCreatedAt()?>',
                visits: '<?php echo $item->getTotal()?>'
            });
        <?php
        }
        ?>
    </script>
    <div class="chart">
        <script>
            function draw_chart () {
                var chart;
                AmCharts.ready(function () {
                    chart = getChart('date');
                    chart = addCategoryAxis(chart, '<?php echo __('Date')?>', true);
                    chart = addValueAxis(chart, '<?php echo __('Qty')?>');
                    chart = addGraph(chart, 'line', 'visits', 'Overview Chart', 0);
                    chart = addCursorToGraph(chart);
                    chart.write("chartdiv");
                });
            }
            require([
                'jquery',
                'Amasty_Reports/js/amchart',
                'Amasty_Reports/amcharts/amcharts'
            ], function($) {
                require(['Amasty_Reports/amcharts/serial'], function($) {
                    draw_chart();
                });
            });
        </script>
    
        <div id="chartdiv" style="width: 100%; height: 400px;"></div>
    </div>
    
    <div class="listing">
        <?= $block->getChildHtml() ?>
    </div>
</div>
