<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Reports
 */
?>
<?php /** @var \Amasty\Reports\Block\Adminhtml\Report\Chart $block */ ?>

<?php
$axis = $block->getAxisFields();
if ($axis['x'] == 'total_orders') {
    $axis['x'] = 'qty';
}
?>
<div class="content" data-role="amreports-content">
    <script>
        window.chartData = [];
        window.isDate = 0;
        <?php
        foreach ($block->getCollection() as $item) {
        ?>
        window.chartData.push({
            attribute : '<?php echo $item->getData('value')?>',
            value : '<?php echo $item->getData($axis['x'])?>'
        });
        <?php
        }
        ?>
    </script>
    <div class="chart">
        <script>
            function draw_chart () {
                var chart;
                if (AmCharts.onReadyArray.length  < 1) {
                    AmCharts.ready(function () {
                        chart = getChart('attribute');
                        chart = addCategoryAxis(chart, '<?php echo __('Attribute')?>');
                        chart = addValueAxis(chart, '<?php echo __('Amount')?>');
                        chart = addGraph(chart, 'column', 'value', 'By Product Attributes', 1);
                        chart = addCursorToGraph(chart);
                        chart.write("chartdiv");
                    });
                }
            }
            require([
                'jquery',
                'Amasty_Reports/js/amchart',
                'Amasty_Reports/amcharts/amcharts'
            ], function($) {
                require(['Amasty_Reports/amcharts/serial'], function($) {
                    draw_chart();
                });
            });
        </script>

        <div id="chartdiv" style="width: 100%; height: 400px;"></div>
    </div>

    <div class="listing">
        <?= $block->getChildHtml() ?>
    </div>
</div>
