<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login\Info $block */
?>
<?php if ($block->getRegistration()->isAllowed()): ?>
<div class="block block-new-customer">
    <div class="block-title">
        <strong id="block-new-customer-heading" role="heading" aria-level="2"><?=$block->escapeHtml(__('New Customers'))?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-new-customer-heading">
        <p><?=$block->escapeHtml(__('If you are new and would like to purchase wholesale, please create an account below to join.'))?></p>
        <p>Becoming a wholesale buyer member has many benefits such as:</p><br>
        <ul>
            <li>Faster Checkout</li>
            <li>Save Multiple Shipping Address</li>
            <li>View and Track Orders</li>
            <li>Share Wish List & Compare Products</li>
        </ul>
        <div class="actions-toolbar">
            <div class="primary">
                <a href="<?=$block->escapeUrl($block->getCreateAccountUrl())?>" class="action create primary"><span><?=$block->escapeHtml(__('Create an Account'))?></span></a>
            </div>
        </div>
    </div>
</div>
<?php endif;?>
