<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$url = $objectManager->get('Magento\Customer\Model\Url')->getLoginUrl();
?>
<script>
  var label = '<?php echo $block->getLabel(); ?>';
  var url ='<?php echo $url; ?>';
    require([
        "jquery",
    ], function($){
      // get all tags which which defines vacation status
      var closeTags = $('.wkremovepriceandcart');
        $.each(closeTags,function(index,value){
          var style='style="white-space:normal;"';
          if(label == "Logged in customer group not<br>allowed to View Price") {
              style ='style="background: white;color: black;border: none;padding: 0 0;font-weight:400;white-space:normal;"';
              url="#";
          }
          var closeButton = '<div class="actions"><a href="'+url+'" class="action primary tocart" title="'+label+'"' +style+'">'+label+'</a></div>';
          if($(this).parent().find('.product-item-inner')){
            $(this).parent().find('.product-item-inner').html(closeButton);
          }
          // remove add to cart button from the widget list
          if($(this).parent().find('.product-item-actions')){
            $(this).parent().find('.product-item-actions').html(closeButton);
          }
        });
    });
</script>
<script>
  require([
      "jquery",
  ], function($){
    var closeTags = $('.wkshowcallforprice');
    var link ='<?php echo $url; ?>';
    $.each(closeTags,function(index,value){
      var text = $(this).attr('data-label');
      var href = $(this).attr('data-link');
      var closeButton = '<div class="actions"><a href="'+href+'" class="action primary tocart" title="'+text+'">'+text+'</a></div>';
      var style = "";
      if(href == "log-in") {
        href = link;
        style ='style="white-space:normal;"';
      }
      if (href=="customer-not-allowed"){
        // href = link;
        href = "#";
        style ='style="background: white;color: black;border: none;padding: 0 0;font-weight:400;white-space:normal;"';
      }
      closeButton =  '<div class="actions"><a href="'+href+'" class="action primary tocart" title="'+text+'"' +style+'">'+text+'</a></div>'
      if($(this).parent().find('.product-item-inner')){
        $(this).parent().find('.product-item-inner').html(closeButton);
      }
      // remove add to cart button from the widget list
      if($(this).parent().find('.product-item-actions')){
        $(this).parent().find('.product-item-actions').html(closeButton);
      }
    });
  });
</script>