<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_SeoHtmlSitemap
 */
?>
<?php
/*
*
* @var \Amasty\SeoHtmlSitemap\Block\Sitemap $block
*
*/
?>
<?php if ($block->canShowSearchField()): ?>
<div class="field">
    <div class="control">
        <div class="htmlsitemap-search-wrapper">
            <label for="htmlsitemap-search-input"><?php echo __('Search'); ?></label>
            <input id="htmlsitemap-search-input"
                   class="input-text htmlsitemap-search-input"
                   type="text"
            />
        </div>
    </div>
</div>
<?php endif;?>

<!-- Products -->
<?php if ($block->canShowProducts()): ?>
    <div class="sitemapSection std">
        <?php $productsTitle = $block->getSitemapData('productsTitle');?>
        <h2><?php echo $productsTitle ? $productsTitle : __('Products'); ?></h2>
        <?php $products = $block->getSitemapData('products'); ?>
        <?php $productsColumns = $block->getSitemapData('productsColumns');?>
        <?php $type = $block->getProductShowType();?>
        <?php echo $block->renderChunks($products, $type, $productsColumns); ?>
    </div>
<?php endif; ?>

<!-- Categories -->
<?php if ($block->canShowCategories()):?>
    <div class="sitemapSection std">
        <?php $categoriesTitle = $block->getSitemapData('categoriesTitle');?>
        <h2><?php echo $categoriesTitle ? $categoriesTitle : __('Categories'); ?></h2>
        <?php $categories = $block->getCategories(); ?>
        <?php $categoriesColumns = $block->getSitemapData('categoriesColumns');?>
        <?php $type = $block->getCategoryShowType();?>
        <?php echo $block->renderChunks($categories, $type, $categoriesColumns, $block->isTree()); ?>
    </div>
<?php endif;?>

<!-- Pages -->
<?php if ($block->canShowCMSPages()) : ?>
    <div class="sitemapSection std">
        <?php $pagesTitle = $block->getSitemapData('pagesTitle');?>
        <h2><?php echo $pagesTitle ? $pagesTitle : __('Pages'); ?></h2>
        <?php $pages = $block->getSitemapData('pages');?>
        <?php $pagesColumns = $block->getSitemapData('pagesColumns');?>
        <?php echo $block->renderChunks($pages, 'pages', $pagesColumns); ?>
    </div>
<?php endif; ?>

<!-- Landing Pages -->
<?php if ($block->canShowLandingPages()): ?>
    <div class="sitemapSection std">
        <?php $landingTitle = $block->getSitemapData('landingTitle'); ?>
        <h2><?php echo $landingTitle ? $landingTitle : __('Landing Pages');?></h2>
        <?php $landingPages   = $block->getSitemapData('landingPages'); ?>
        <?php $landingColumns = $block->getSitemapData('landingColumns'); ?>
        <?php echo $block->renderChunks($landingPages, 'landing_pages', $landingColumns)?>
    </div>
<?php endif;?>

<!-- Links -->
<?php if ($block->canShowLinks()) : ?>
    <div class="sitemapSection std">
        <?php $linksTitle = $block->getSitemapData('linksTitle');?>
        <h2><?php echo $linksTitle ? $linksTitle : __('Links'); ?></h2>
        <?php $links = $block->getSitemapData('links');?>
        <?php $linksColumns = $block->getSitemapData('linksColumns');?>
        <?php echo $block->renderChunks($links, 'links', $linksColumns); ?>
    </div>
<?php endif; ?>

<script>
    require([
        'htmlSitemap'
    ], function(htmlSitemap) {
        var sitemapInstance = new htmlSitemap();
        sitemapInstance.init();
    });
</script>

