body {
    a {
        color: #969696;

        &:visited {
            color: #969696;
        }

        &:hover {
            color: #000;
        }
    }
}

.weltpixel-quickview-catalog-product-view {
    #_hj_feedback_container {
        display: none;
    }
}

button,
.button,
.action.primary {
    -webkit-transition-duration: 300ms;
    -webkit-transition-property: background-color;
    transition-duration: 300ms;
    transition-property: background-color;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Prata-Regular';
    color: #000;
}

#notice-cookie-block.message.global.cookie {
    background: #ccc;
    color: #fff;

    .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;

        a {
            color: #fff;
            text-decoration: underline;
        }

        p {
            max-width: calc(~"100% - 150px");
        }
    }

    .actions {
        margin-top: 0;
        margin-left: auto;
        max-width: 150px;
    }
}

.page-wrapper {

    .page-main,
    .top-container {
        max-width: none;
        padding: 0;
    }
}

.page-main {
    .action.edit {
        display: none !important;
    }
}

.header-sneak-peek {
    background-color: #f5f5f5;
    text-align: center;
    font-size: 14px;
    padding: 10px 15px;
    margin-bottom: 20px;

    p {
        margin: 0;
    }

    a {
        color: inherit;
        text-decoration: underline;

        &:hover {
            color: #000;
        }
    }
}

.home-slider {
    margin-bottom: 20px;
}

.bottom-two-banners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    @media @max767 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    a {
        width: 50%;
        padding: 7%;
        text-align: center;
        @media @max767 {
            width:100%;
        }

        img {
            width: 100%;
            &:hover{
                opacity: 0.5;
            }
        }

        span {
            border-bottom: 2px solid;
            padding-bottom: 5px;
            margin-top: 50px;
            display: inline-block;
            color: #000;
            font-size: 16px;
            position: relative;
            &:before{
                content: '';
                display: inline-block;
                width: 100%;
                height: 60%;
                position: absolute;
                z-index: 1;
                left: 0px;
                bottom: 22%;
                background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, #808080));
                background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #808080 50%);
                background-position: 0% 0;
                background-size: 200% 10px;
                -webkit-transition: background-position 0.2s ease-out;
                transition: background-position 0.2s ease-out;
                -webkit-transform: skew(0deg, 0deg);
                transform: skew(0deg, 0deg);
                opacity: 0.2;
            }
            &:hover{
                &:before{
                    background-position: -99.98999999999999% 0;
                }
            }
        }


    }
}

.slick-dots {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin: 0 5px;

        button {
            background-color: #fff;
            border: 1px solid #d6d6d6;
            border-radius: 10px;
            height: 10px;
            width: 10px;
            text-indent: -9999px;
            padding: 0;
        }

        &.slick-active,
        &:hover {
            button {
                background-color: #000;
                border-color: #000;
            }
        }
    }
}

.slick-slider .slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    background: none !important;
    border: 0 !important;
    font-size: 0;
    height: 40px;
    width: 40px;
    padding: 0;
    text-align: center;
    -webkit-box-shadow: none;
    box-shadow: none;

    &:before {
        display: block;
        content: "\f053";
        font-family: FontAwesome;
        font-size: 27px;
        line-height: 40px;
        color: #000;
    }

    &.slick-prev {
        left: 0;
    }

    &.slick-next {
        right: 0;

        &:before {
            content: "\f054";
        }
    }
}

.three-banner-block {
    margin-bottom: 50px;

    .left {
        float: left;
        width: 50%;
        padding-right: 20px;
        height: 700px;
        overflow: hidden;

        .image-blk {
            img {
                height: 700px;
            }
        }
    }

    .right {
        float: right;
        width: 50%;

        .image-blk {
            img {
                height: 340px;
            }
        }
    }

    .image-blk {
        img {
            width: 100%;
        }
    }

    .second-top {
        margin-bottom: 15px;
    }
}

body {
    .copyright {
        background-color: #b9b9b9;
        font-size: 14px;
        padding: 10px 0;
        color: inherit;
    }
}

footer.page-footer {
    background: #ffffff;
    margin: 0;
    padding: 0;

    .footer.content {
        padding: 0;
        border: 0;

        .footer-wrapper {
            border-top: 1px solid #f5f5f5;
            padding: 30px 0 30px;

            .footer-title {
                font-size: 24px;
                line-height: normal;
                font-weight: normal;
                text-transform: capitalize;
                margin: 0;
                padding: 20px 0;
                font-family: 'Prata-Regular';
                color: #000;
            }

            .footer-v3-list {
                padding: 0;

                a {
                    font-size: 14px;
                    line-height: 22px;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .newsletter-subscribe {
                .block.newsletter {
                    float: none;
                    width: 100%;
                    margin: 0;

                    .form.subscribe {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;

                        .field {
                            .control {
                                &:before {
                                    display: none;
                                }

                                input {
                                    padding: 0 10px;
                                    color: #969696;
                                    border-color: #969696;
                                    border-width: 0 0 1px 0;
                                    max-width: 195px;
                                    -webkit-box-shadow: none;
                                    box-shadow: none;
                                }
                            }
                        }

                        .actions {
                            width: auto;
                            display: block;
                            margin-left: 5px;

                            .action.subscribe {
                                text-transform: uppercase;
                                font-size: 15px;
                                line-height: 18px;
                                background-color: #969696;
                                border-color: #fff;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.section-three-blocks,
.section-two-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -10px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f3f2f2;
    margin-bottom: 60px;

    .columns {
        padding: 10px;
        text-align: center;
        width: 33%;

        a {
            text-decoration: none;
            text-align: center;
            font-size: 1.4rem;
            margin-top: 10px;
            display: block;
            text-transform: capitalize;

            span {
                border-bottom: 2px solid;
                padding-bottom: 5px;
            }
        }

        h3 {
            margin: 30px 0 0;
            font-weight: normal;
            font-size: 24px;
            width: 100%;
        }

        p {
            font-size: 11pt;
            letter-spacing: 1px;
            width: 100%;
        }
    }
}

.home-page-category {
    .hp-title {
        text-align: center;
        margin-bottom: 30px;

        a {
            letter-spacing: 0px;
            font-size: 32px;
            font-family: Prata-Regular;
            font-weight: normal;
            text-transform: capitalize;
            color: #000;

            &:hover {
                color: #969696;
                text-decoration: none;
            }
        }
    }

    .cat-des {
        margin: 0 auto 60px;
        text-align: center;
        width: 100%;
        max-width: 350px;

        a {
            text-decoration: none;
            color: #000;

            &:hover {
                color: #969696;
            }

            span {
                border-bottom: 2px solid;
                padding-bottom: 5px;
            }
        }
    }
}

.home-page-category {
    .slick-list {
        margin: 0 -5px;

        .slick-slide {
            margin: 0 5px;
        }
    }

    .new-arrivals {
        .product-item {
            .product-item-info {
                position: relative;

                .product-item-photo {
                    position: relative;
                    display: block;
                    padding-top: 0;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }

                &:hover {
                    .product-item-details {
                        bottom: 20px;
                    }
                }

                .product-item-details {
                    width: calc(~"100% - 40px");
                    position: absolute;
                    bottom: -200px;
                    left: 20px;
                    z-index: 9;
                    -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    background-color: #fff;
                    padding: 10px;
                    text-align: center;

                    .product-item-name {
                        height: 22px;
                        overflow: hidden;

                        a {
                            font-size: 15px;
                            line-height: 20px;
                            display: block;
                            font-weight: bold;
                            color: #969696;
                            font-family: 'Nunito', sans-serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;

                            &:hover {
                                color: #000;
                            }
                        }
                    }

                    .sort-desc {
                        line-height: 18px;
                        height: 36px;
                        overflow: hidden;
                        margin: 5px 0;
                    }

                    .price-box {
                        display: none !important;
                    }

                    .product-item-actions {
                        display: block;

                        .actions-primary {
                            display: block;

                            .action.primary.tocart {
                                padding: 8px 15px 6px;
                                border-color: #969696;
                                background-color: transparent;
                                color: #969696;
                                font-size: 14px;
                                line-height: 18px;

                                &:hover {
                                    background-color: #969696;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .best-sellers {
        margin-top: 50px;
    }
}

.sidebar {
    .block {
        .block-title {
            strong {
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        .block-content,
        .empty,
        .block-content *,
        .empty * {
            font-size: 12px;
        }
    }
}

#layered-filter-block {
    .block-subtitle {
        padding-left: 0;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        border-bottom: 1px solid #cccccc;
    }

    .filter-options-item {
        padding-bottom: 0;
        border-bottom: none;

        .filter-options-title {
            font-weight: 400;
            padding: 10px 40px 10px 0;
            border-bottom: 1px solid #cccccc;

            &:after {
                color: #454545;
            }
        }

        .filter-current {
            ol {
                padding-right: 0;
                padding-left: 0;
            }
        }

        .block-actions.filter-actions {
            margin-right: 0;
            margin-left: 0;
            padding-right: 0;
            padding-left: 0;
        }

        .filter-options-content {
            padding-left: 0;
            padding-right: 0;

            .items {
                .item {
                    a {
                        width: 100%;
                        padding-left: 20px;
                        background-color: transparent;

                        &:hover {
                            text-decoration: underline;
                        }

                        &:before {
                            float: left;
                            width: 12px;
                            height: 12px;
                            border: 1px solid #999999;
                            border-radius: 10px;
                            margin: 3px 0 0;
                            content: "";
                        }
                    }
                }
            }
        }

        .swatch-attribute-options {
            text-align: center !important;
            display: inline-block !important;
            padding: 2px 0;
            margin: 0;

            .swatch-option {
                border-radius: 25px;
                -moz-border-radius: 25px;
                -webkit-border-radius: 25px;
                width: 25px;
                height: 25px;
                min-width: 25px;
                margin: 3px;
                outline: none;
                position: relative;
                background-size: 100% auto;
                border: none;
                border: 2px solid #dedede;

                &.color {
                    &:before {
                        visibility: hidden;
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        z-index: 0;
                        width: 21px;
                        height: 21px;
                        border: 3px solid transparent;
                        border-radius: 25px;
                        -moz-border-radius: 25px;
                        -webkit-border-radius: 25px;
                        visibility: visible;
                        content: '';
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                    }

                    &:hover {
                        &:before {
                            visibility: visible;
                            border: 3px solid white;
                        }
                    }
                }
            }
        }
    }
}

body.page-layout-1column .product.media {
    width: 50%;

    .gallery-placeholder {
        width: 100%;

        .fotorama__thumb-border {
            border: 1px solid #CCCCCC;
        }
    }
}

body.page-layout-1column {
    .product-info-main {
        width: 45%;

        .previous_next {
            padding-bottom: 15px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            .prev-product {
                margin-right: auto;
            }
        }

        .page-title-wrapper {
            padding: 15px 0;

            h1 {
                margin: 0;
                font-size: 30px;
                font-weight: 300;
                line-height: normal;
            }
        }

        .product-info-price {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            .product-info-stock-sku {
                display: block;
                margin-left: auto;

                .date {
                    display: block;
                }
            }

            .price-box {
                display: flex;
                width: auto;

                .price-label {
                    font-size: 12px;
                    margin-right: 5px;
                }

                .price-container {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: baseline;
                    -ms-flex-align: baseline;
                    align-items: baseline;

                    .price {
                        font-size: 24px;
                        line-height: normal;
                    }
					&.price-total-pack{
						display:none;
					}
                }

                .price-final_price {
                    .price {
                        color: #000;
                    }
                }
            }
        }

        .sizeqty-main {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            .sizeqty-item {
                border-color: #c1c1c1;
                border-style: solid;
                border-width: 1px 1px 1px 0;
                text-align: center;
                font-size: 15px;

                .label {
                    border-bottom: 1px solid #c1c1c1;
                }

                >div {
                    padding: 5px 10px;
                }

                &:first-child {
                    border-left-width: 1px;
                }

                &:last-child {
                    color: #000;
                    font-weight: bold;
                }
            }
        }

        .schedule-an-appointment-main {
            padding-top: 15px;

            .schedule-an-appointment {
                &:before {
                    content: ">> ";
                    margin-right: 4px;
                    color: #ccc;
                }

                &:hover {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }

        .product-options-wrapper {
            .swatch-attribute-label {
                font-weight: 400;
            }

            .swatch-attribute-selected-option {
                color: #fff;
                background: #969696;
                padding: 1px 10px 0;
                line-height: 18px;
                margin-left: 15px;
                border-radius: 6px;
                display: inline-block;

                &:empty {
                    display: none;
                }
            }

            .swatch-option {
                outline: none !important;
                border: 2px solid transparent !important;
                position: relative;
                border-radius: 0;
                -moz-border-radius: 0;
                -webkit-border-radius: 0;
                width: 33px;
                height: 50px;
                min-width: 33px;
                margin: 0 15px 5px 0;

                &.selected,
                &:hover {
                    border-color: #969696 !important;
                }
            }
        }

        .box-tocart {
            .fieldset {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;

                .field.qty {
                    margin-right: auto;
                    margin-bottom: 0;

                    label {
                        display: none;
                    }

                    .qtyminus,
                    .qtyplus {
                        border-style: solid;
                        border-width: 1px;
                        width: 40px;
                        height: 52px;
                        border-radius: 0px;
                        background-color: #c2c2c2;
                    }

                    .input-text.qty {
                        height: 52px;
                        margin: 0 10px;
                    }
                }

                .actions {
                    width: calc(~"100% - 190px");

                    .action.tocart {
                        margin: 0;
                        width: 100%;
                        font-size: 16px;
                        text-align: center;
                    }
                }
            }
        }

        .product-social-links {
            font-size: 13px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin: 0;
            padding-bottom: 20px;

            .action {
                &:before {
                    font-size: inherit;
                }
            }

            .product-addto-links {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: 66.66%;

                .product-addto-links .action.towishlist {
                    margin-right: auto;
                }

                .product-addto-links .action.tocompare {
                    margin-right: 0;
                }
            }

            .action.mailto.friend {
                width: 33.33%;
                display: block;
                text-align: right;
            }
        }

        .product.attribute.overview {
            margin: 0;
            padding: 20px 0;
        }
    }
}

.checkout-index-index {
    #checkout.am-checkout {
        background: none !important;
        margin-top: 0;

        select {
            color: inherit;
        }

        .checkout-header {
            text-align: center;
            padding: 0;
            margin: 0 0 30px 0;

            h1 {
                font-size: 30px;
                margin: 0;
                line-height: 60px;
                letter-spacing: 0;
                color: #969696;
                font-weight: 300;
                text-align: center;
                text-transform: capitalize;
            }

            .description {
                font-size: inherit;
            }
        }

        .checkout-block {
            -webkit-box-shadow: none;
            box-shadow: none;
            border: 1px solid #b9b9b9;
            padding: 0;

            &:hover {
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            .step-title,
            .opc-block-summary>.title {
                color: #fff;
                background-color: #b9b9b9;
                border: 0;
                padding: 10px;
                text-transform: none;
                font-size: 18px;
                line-height: 20px;
                font-weight: 400;
            }

            .step-content {
                padding: 15px;

                &#checkout-step-shipping {
                    .form-shipping-address {
                        margin: 0;

                        .fieldset {
                            .field {
                                .label {
                                    margin: 0;
                                }
                            }
                        }
                    }

                    .action-show-popup {
                        margin: 0;
                    }
                }

                &#checkout-step-shipping_method {
                    .table-checkout-shipping-method {
                        tbody {
                            tr {
                                td {
                                    padding: 15px;

                                    &:first-child {
                                        width: 30px;
                                        padding-right: 0;
                                    }

                                    &:nth-child(2) {
                                        width: calc(~"100% - 30px");
                                    }
                                }

                                &:first-child {
                                    td {
                                        padding-top: 0;
                                    }
                                }

                                &:last-child {
                                    td {
                                        padding-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                &#checkout-step-payment {
                    padding: 0;

                    .payment-group {
                        .payment-method {
                            padding: 0 15px;
                            border-top: 1px solid #b9b9b9;

                            &:first-child {
                                border-top: 0;
                            }

                            .payment-method-title {
                                border-top: 0;
                                padding: 15px 0;
                            }

                            .payment-method-title,
                            .billing-address-same-as-shipping-block {
                                >label {
                                    display: inline;
                                }
                            }

                            .checkout-billing-address {
                                .action-cancel {
                                    color: #969696;
                                }
                            }
                        }
                    }
                }
            }

            .opc-block-summary {
                margin: 0;
                padding: 0;
                background: none;

                .items-in-cart {
                    margin: 0;

                    >.title {
                        padding: 15px 40px 15px 15px;

                        &:after {
                            top: 15px;
                            right: 15px;
                        }
                    }

                    .minicart-items-wrapper {
                        max-height: none;
                        padding: 15px;
                        border-bottom: 1px solid #b9b9b9;

                        .minicart-items {
                            border: 1px solid #b9b9b9;

                            .product-item {
                                padding: 15px;

                                .delete {
                                    display: none;
                                    padding: 2px;
                                    width: 20px;
                                    height: 20px;
                                    background-size: 8px;
                                    border-radius: 15px;
                                    z-index: 1;
                                    position: relative;
                                }
                            }
                        }
                    }
                }

                .table-totals {
                    border-top: 0;

                    tbody {

                        th,
                        td {
                            padding: 5px 15px;
                        }
                    }
                }
            }

            .additional-options {
                margin: 15px;
            }

            .checkout-payment-method {
                .payment-option-title {
                    .action-toggle {
                        color: inherit;
                    }
                }

                .discount-code {
                    padding: 15px;

                    .payment-option-title {
                        padding: 0 0 15px 0;
                    }

                    .payment-option-content {
                        padding: 0;
                    }
                }

                &.submit {
                    padding: 15px;

                    .payment-methods {
                        .actions-toolbar {
                            .primary {
                                padding-top: 10px;
                                padding-bottom: 10px;
                                padding-left: 80px;
                                padding-right: 80px;
                                font-size: inherit;
                                line-height: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
}

.sales-order-view {
    .order-date {
        float: right;
    }
}

.account {
    .sidebar-additional {
        .block {
            &.actions-toolbar {
                .secondary {
                    float: none;
                }
            }
        }
    }

    .page-main {
        .page-title-wrapper {
            .page-title {
                margin-right: 0px;
            }
        }
    }

    .price-total-pack {
        display: none;
    }
}

.modal-popup {
    z-index: 11111;
}

.message {
    &.success {
        a {
            color: #006400;
        }
    }
}

.sale-icon{
    position: absolute;
    color: #fff;
    background: #cc2319;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    left: 10px;
    top: -55px;
    z-index: 99;
}
.catalog-product-view{
    .sale-icon{
        display: none;
    }
}
.product-info-main .product-info-price .price-box{
    display: flex;
}
.product-info-price .price-box{
    .old-price {
        .price-container {
            &>span.now-price-label{
                display: none !important;
            }
        }
    }
    .special-price {
        order: 2;
        .price-container {
            &>span.now-price-label{
                display: inline-block !important;
                line-height: 30px;
                margin: 0 15px;
            }
        }
        .price-total-pack{
            display: none !important;
        }
    }
}

.price-box {
    .now-price-label{
        display: none;
    }
    .special-price{
        margin-bottom: 10px;
        display: block;
        .now-price-label{
            display: inline-block;
            color: red;
            font-weight: bold;
        }
        .price-container {
            .price{
                font-weight: bold !important;
            }
        }
    }
}

@media @max1024 {
    .section-three-blocks {
        .columns {
            h3 {
                font-size: 20px;
            }
        }
    }

    footer.page-footer {
        .footer.content {
            .footer-wrapper {
                .newsletter-subscribe {
                    .block.newsletter {
                        .form.subscribe {
                            -ms-flex-wrap: wrap;
                            flex-wrap: wrap;

                            .field {
                                width: 100%;

                                .control {
                                    input {
                                        max-width: none;
                                    }
                                }
                            }

                            .actions {
                                width: 100%;
                                margin: 10px 0 0;

                                .action.subscribe {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.login-container {
    .fieldset {
        .field {
            .control {
                width: 100% !important;
            }
        }
    }
}

.weltpixel-quickview-catalog-product-view {
    .block-viewed-products-grid {
        display: none;
    }
}

@media @max991 {
    body.page-layout-1column {
        .product-info-main {
            .product-social-links {
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;

                .product-addto-links {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    width: 100%;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                }

                .action.mailto.friend {
                    text-align: left;
                }
            }
        }

        .product-items {
            .product-image-container {
                margin: 0 auto;
            }
        }
    }
}

@media @max767 {
    #notice-cookie-block.message.global.cookie {
        padding: 15px;

        .content {
            p {
                max-width: none;
                text-align: center;
            }
        }

        .actions {
            margin: 10px auto 0;
            max-width: none;
        }
    }

    .three-banner-block {
        margin-bottom: 30px;

        .banner-block-main {
            margin-bottom: 15px;
        }

        .left,
        .right {
            float: none;
            width: 100%;
            height: auto;
            padding: 0;

            .image-blk {
                img {
                    height: auto;
                }
            }
        }
    }

    .home-page-category {
        .hp-title {
            a {
                font-size: 22px;
            }
        }

        .cat-des {
            margin-bottom: 20px;
        }

        .best-sellers {
            margin-top: 30px;
        }
    }

    body.page-layout-1column {

        .product-info-main,
        .product.media {
            width: 100%;
            margin: 0 auto;
        }
    }

    #layered-filter-block {
        .filter-options-item {
            .filter-options-content {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

@media @max639 {
    .checkout-index-index {
        #checkout.am-checkout {
            .checkout-block {
                .step-content#checkout-step-shipping_method {
                    .methods-shipping {
                        background: none;
                        margin: 0;
                        padding: 0;
                        border: 0;
                    }
                }
            }
        }
    }

    body {
        &.page-layout-1column {
            .product-info-main {
                .previous_next {
                    margin-top: 15px;
                }
            }
        }
    }
}

@media @max575 {
    .section-three-blocks {
        .columns{
            width: 100%;
        }
    }
    footer.page-footer {
        .footer.content {
            .footer-wrapper {
                padding-top: 10px;

                .footer-title {
                    padding-bottom: 10px;
                }

                .newsletter-subscribe {
                    .block.newsletter {
                        .form.subscribe {
                            .field {
                                width: auto;

                                .control {
                                    input {
                                        max-width: 195;
                                    }
                                }
                            }

                            .actions {
                                width: auto;
                                margin: 0 0 0 5px;

                                .action.subscribe {
                                    width: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media @max480 {
    body.page-layout-1column {
        .product-info-main {
            .box-tocart {
                .fieldset {
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;

                    .field.qty {
                        width: 100%;
                        text-align: center;
                    }

                    .actions {
                        width: 100%;
                        margin-top: 15px;
                    }
                }
            }
        }
    }

    .checkout-index-index {
        #checkout.am-checkout {
            .checkout-block {
                .opc-block-summary .items-in-cart {
                    .minicart-items-wrapper {
                        padding: 0;

                        .minicart-items {
                            border: 0;
                        }
                    }
                }
            }
        }
    }
}

@media @max480 {
    body {
        .block-search {
            .label {
                &:before {
                    font-size: 20px;
                    margin: 0 2px 0 0;
                }
            }
        }

        .copyright {
            padding: 10px 10px;
        }

        .section-three-blocks,
        .section-two-blocks {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
    }
}

