.trade-page {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50% auto;
    display: table;
    height: 100%;
    margin-top: 50px;
    position: relative;
    margin-bottom: 50px;
    width: 100%;
    z-index: -1;
    overflow: hidden;

    .shows-content {
        display: table;
        overflow: hidden;
        vertical-align: top;
        width: 100%;

        .fix-img {
            position: absolute;
            top: inherit;
            width: 53%;
            z-index: -1;
        }

        .img {
            display: table-cell;
            vertical-align: top;
            width: 50%;
            position: relative;

            img {
                opacity: 0;
            }
        }

        .shows {
            display: table-cell;
            padding-top: 30px;
            vertical-align: top;
            width: 50%;

            .location {
                background-color: #FFF;
                color: #000;
                display: inline-block;
                font-size: 22px;
                font-weight: normal;
                letter-spacing: 1px;
                line-height: 50px;
                margin-top: 8%;
                min-width: 175px;
                padding: 0 40px;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                left: -137px;
            }

            .year,
            .date {
                background-color: transparent;
                color: #000;
                display: block;
                font-size: 17px;
                font-weight: normal;
                left: 10px;
                letter-spacing: 1px;
                line-height: 25px;
                min-width: inherit;
                padding: 0 40px;
                position: relative;
                text-align: left;
                text-transform: uppercase;
            }

        }

    }
}


.lookbook-container {
    .slick-slider {
        margin: 0;
        padding: 0;

        .slick-slide {
            img {
                width: 100%;
            }
        }

    }

    .child-lookbook-items {
        .slick-slide {
            img {
                opacity: 0.2;
            }

            &.slick-center {
                img {
                    opacity: 1;
                }
            }
        }

    }
}


@media @max767 {
    .nav-sections {
        // .lib-css(background, @navigation__background);
        .navigation{
            .level0 > .level-top{
                &:before {
                    display: none;
                }
            }
        }
    }
    .trade-page {
        margin-top: 0;

        .shows-content {
            .img {
                float: none;
                position: absolute;
                width: 100%;

                img {
                    height: 100%;
                    left: 50%;
                    max-width: none;
                    min-width: 100%;
                    opacity: 0.3;
                    position: fixed;
                    top: 91px;
                    -webkit-transform: translate(-50%, 0px);
                    transform: translate(-50%, 0px);
                    z-index: -1;
                }
            }

            .fix-img {
                display: none;
            }

            .shows {
                padding-top: 0;
                -webkit-transform: translate(-50%, -30px);
                transform: translate(-50%, -30px);

                .location {
                    font-size: 16px;
                    left: 0;
                    line-height: 40px;
                    margin-top: 30px;
                    min-width: 150px;
                    padding-left: 50px;
                    text-align: left;
                }

                .year,
                .date {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
    }
}

@media @max767 {
    .trade-page {
        .shows-content {
            .shows {
                -webkit-transform: translate(00%, -30px);
                transform: translate(00%, -30px);
                width: 100%;
                max-width: 280px;
                margin: 0 auto;
                display: block;
                text-align: center;

                .date,
                .year {
                    font-size: 14px;
                    line-height: 18px;
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
    }
}

.cms-about-us {
    .breadcrumbs {
        display: none;
    }

    .header-sneak-peek {
        margin-bottom: 0px;
    }

    .page-main {
        >.container {
            max-width: 100%;
            padding-right: 0;
            padding-left: 0;
        }

        .column.main {
            padding-bottom: 0;
        }
    }

    .dvAboutUs {
        border-bottom: 1px solid #b9b9b9;

        .main-banner-content {
            position: initial;
            left: 0;
            bottom: 200px;
            width: 100%;
            text-align: center;
        }

        .slide-contents {
            @media screen and (max-width: 767px) {
                margin-top: 15px !important;
                margin-bottom: 15px !important;
            }
        }
    }

    footer.page-footer {
        .footer.content .footer-wrapper {
            border-top: 0 none;
        }
    }
}



.leftcontent-rightimage {
    background-color: transparent;
    margin: 0 auto;
    max-width: 1400px;
    display: table;
    width: 100%;
    position: relative;
}

.leftcontent-removed {
    position: absolute;
    bottom: 70px;
    right: 30px;
}

.leftcontent-rightimage::after {
    clear: both;
    content: "";
    display: table;
}

.leftcontent {
    display: table-cell;
    vertical-align: middle;
    width: 71%;
    padding: 0 12%;
}

.rightimage {
    display: table-cell;
    width: 29%;
    vertical-align: middle;
}

.leftcontent .capitalbold {
    text-transform: uppercase;
    font-size: 20px;
}

.leftcontent .akward {
    text-transform: uppercase;
    font-size: 108px;
    line-height: 108px;
}

.leftcontent p {
    font-size: 16px;
    font-weight: bold;
}

.buttons404 {}

.buttons404>div {
    margin: 10px 0;
}

.page-wrapper .header .quickcart-wrapper .block-quickcart .block-content-quickcart .quickcart-items-wrapper .quickcart-items .quickcart-product-item .options .option-wrapper {
    float: none;
}

.page-wrapper .header .quickcart-wrapper .block-quickcart .block-content-quickcart .quickcart-items-wrapper .quickcart-items .quickcart-product-item .product-image-wrapper {
    margin: 0;
}

.buttons404>div {
    margin: 10px 0;
}

.buttons404>div .action {
    font-size: 1.4rem;
    background: #000;
    border-color: #000;
}

.buttons404>div .action:hover {
    color: #000;
}

@media screen and (min-width: 480px) {
    .buttons404 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 440px;
        margin-top: 20px;
    }

    .buttons404>div {
        width: 50%;
        text-align: center;
        padding: 0 20px 0 0;
    }

    .buttons404>div .action {
        min-width: 200px;
        text-align: center;
    }

    .buttons404>.button-left {
        text-align: right;
    }

    .buttons404>.button-right {
        text-align: left;
    }
}

@media screen and (max-width: 991px) {
    .leftcontent {
        display: inline-block;
        width: 50%;
        padding: 20px 5%;
    }

    .rightimage {
        display: inline-block;
        width: 50%;
        vertical-align: middle;
    }

}