.breadcrumbs {
    padding: 10px 0;
    margin: 0px;

    .items {
        a {
            color: #969696;
            font-size: 12px;
            line-height: 18px;
            text-transform: uppercase;
        }

        strong {
            color: #b9b9b9;
        }
    }
}

.page-products .grid.products-grid .product-item:nth-child(4n+1) {
    margin-left: ~"calc((100% - 4 * 24%) / 4)";
}

.sidebar-main {
    #layered-filter-block {
        .block-subtitle {
            padding-left: 10px;
        }

        .filter-options-item {
            .filter-options-title {
                padding: 10px 40px 10px 10px;
            }

            .block-title {
                border-bottom: none;
            }
        }
    }

    .block {
        .block-title {
            strong {
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 600;
            }

            .counter {
                padding-left: 10px;
            }
        }
    }
}

.customer-account-create {
    .page-title {
        margin-bottom: 20px;
    }

    .fieldset,
    .fieldset>.fields {
        >.field {
            >.label {
                margin: 0 0 0;
            }
        }
    }

    .actions-toolbar {
        >.primary {
            .action {
                width: 300px;
                padding: 17px 0px;
                text-transform: uppercase;
            }
        }
    }

    .account {
        .legend {
            border-bottom: 1px solid #ebebeb;
        }
    }
}

.customer-account-login {

    .fieldset,
    .fieldset>.fields {
        >.field {
            >.label {
                margin: 0 0 0;
            }
        }
    }

    .login-container {
        .block {
            .block-title {
                border-bottom: 1px solid #ebebeb;
            }
        }
    }

    .block-new-customer-heading {
        ul {
            margin: 0;

            li {
                margin: 0;
            }
        }
    }

    .actions-toolbar {
        >.primary {
            .action {
                width: 300px;
                padding: 17px 0px;
                text-transform: uppercase;
            }
        }
    }
}

.weltpixel-quickview-catalog-product-view {
    .previous_next {
        display: none !important;
    }

    .product-info-main {
        .product-info-price {
            .price-box {
                .price-container {
                    .price {
                        font-size: 15px !important;
                    }
                }
            }
        }

        .swatch-option {
            border: 1px solid rgb(218, 218, 218) !important;

            &.image:not(.disabled):hover {
                outline: 0px;
                border: 2px solid #e6e6e6;
            }

            &.color:not(.disabled):hover {
                outline: 0px;
                border: 2px solid #e6e6e6;
            }
        }

        .box-gotoproduct {
            #product-gotoproduct-button {
                border: 1px solid transparent;
                font-size: 15px;
                padding: 10px 10px;
                text-align: center;
                width: 100%;
            }
        }

        .box-tocart {
            display: none;
        }
    }
}

.column {
    &.main {
        .products-grid {
            .product-item-info:not(:hover):not(.active) {
                .product-item-inner {
                    height: inherit;
                }
            }

            .product-item {
                padding: 0px;
                width: 24%;
                margin-left: ~"calc((100% - 4 * 24%) / 4)";

                .product-item-info {
                    width: 100%;
                    position: relative;
                    border: 0px solid transparent !important;
                    padding: 0px;
                    -webkit-box-shadow: none !important;
                    box-shadow: none !important;
                    max-width: 100%;
                    height: 100%;

                    &:hover {
                        background-color: #fff;
                        top: 0px;
                        left: 0px;
                        margin: 0px;
                    }

                    .product-item-details {
                        clear: both;
                        height: auto;
                        padding-top: 1px;
                        position: relative;

                        .price-box {
                            margin: 10px 0;
                            text-align: center;

                            .price-container {
                                display: block;

                                &.price-total-pack {
                                    display: none;
                                }

                                .price {
                                    font-size: 14px;
                                    color: #000000;
                                    font-weight: 700;
                                }

                                .price-label {
                                    color: #666666;
                                    font-size: 12px;
                                }
                            }
                        }

                        .product-item-name {
                            margin: 5px 0;
                            word-wrap: break-word;
                            text-align: center;
                            height: 22px;
                            overflow: hidden;

                            a {
                                font-size: 14px;
                                color: #000000;
                                text-align: center;
                                font-weight: bold;
                                line-height: 20px;
                                display: block;
                                font-family: nunito;
                            }
                        }

                        .category-desc {
                            height: 22px;
                            overflow: hidden;
                            padding-bottom: 0px;
                            margin: 5px 0;
                            text-align: center;
                        }

                        .product-item-inner {
                            position: inherit;
                            clip: auto;
                            width: 100%;
                            text-align: center;
                            margin: 0;
                            border: none;
                            box-shadow: none;
                            -o-box-shadow: none;
                            -ms-box-shadow: none;
                            -moz-box-shadow: none;
                            -webkit-box-shadow: none;
                            padding: 0;
                            margin-top: 1rem;

                            .product-item-actions {
                                margin: 0px;

                                .actions-primary {
                                    display: inline-block;
                                    text-align: center;
                                    width: 100%;
                                }
                            }

                            .action {
                                &.primary {
                                    background-color: #fff;
                                    color: #969696;
                                    padding: 8px 15px 6px;
                                    text-transform: uppercase;
                                    border: 1px solid #969696;
                                    margin-left: 0;

                                    &:hover {
                                        color: #fff;
                                        background: #969696;

                                        span {
                                            color: #fff;
                                        }
                                    }
                                }
                            }

                            &:before {
                                content: none;
                            }
                        }

                        .weltpixel-quickview {
                            &.weltpixel_quickview_button_v2 {
                                display: block;
                                z-index: 9;
                                position: absolute;
                                text-indent: -10000px;
                                width: 33px;
                                height: 35px;
                                background-image: url(../WeltPixel_Quickview/images/quickview.png);
                                background-repeat: no-repeat;
                                top: -46px !important;
                                right: 5px;
                            }
                        }
                    }

                    .product-image-container {
                        width: 100% !important;
                    }

                    .product-item-photo {
                        width: 100%;

                        img {
                            width: 100%;
                        }
                    }

                    .actions-secondary.listpage {
                        display: none;
                    }

                    .actions-secondary {
                        .tocompare {
                            display: none;
                        }

                        .towishlist {
                            position: absolute;
                            top: 10px;
                            left: 10px;
                            z-index: 1;

                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }

            .swatch-attribute {
                &.color {
                    text-align: center;
                    height: 34px;
                    overflow: hidden;
                }

                .swatch-option {
                    border-radius: 25px !important;
                    width: 25px !important;
                    height: 25px !important;
                    min-width: 25px !important;
                    margin: 3px !important;
                    overflow: hidden;
                    text-align: center;

                    &.image:not(.disabled):hover {
                        outline: 0px;
                        border: 2px solid #e6e6e6;
                    }

                    &.color:not(.disabled):hover {
                        outline: 0px;
                        border: 2px solid #e6e6e6;
                    }
                }

                .swatch-attribute-options {
                    margin-top: 0;
                    text-align: center;
                    display: inline-block;
                    padding: 2px 0;
                }
            }
        }

        .products-list {
            .product-item {
                .product-item-name {
                    a {
                        text-align: left;
                        font-size: 14px;
                        color: #000000;
                        font-family: nunito;
                    }
                }

                .sort-desc {
                    height: 22px;
                    overflow: hidden;
                    padding-bottom: 0px;
                    margin: 5px 0;
                }

                .price-box {
                    margin: 10px 0 25px;

                    .price-container {
                        display: block;

                        .price {
                            font-size: 14px;
                            color: #000000;
                        }
                    }

                    .price-label {
                        color: #666666;
                        font-size: 12px;
                    }

                    .price-total-pack {
                        display: none;
                    }
                }

                .swatch-option {
                    border-radius: 0 !important;
                    width: 33px !important;
                    height: 50px !important;
                    min-width: 33px !important;
                    margin: 3px !important;
                    overflow: hidden;
                    text-align: center;
                }

                .swatch-attribute-options {
                    margin-top: 0;
                    text-align: center;
                    display: inline-block;
                    padding: 2px 0;
                }
            }

            .actions-secondary.listpage {
                display: table-cell;
                text-align: center;

                .tocompare {
                    display: none;
                }
            }

            .actions-secondary.gridpage {
                display: none;
            }

            .action {
                &.tocart {
                    &.primary {
                        padding: 8px 15px;

                        span {
                            font-size: 14px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}

.catalog-category-view {
    .page-title-wrapper {
        h1 {
            font-size: 30px;
            margin: 20px 0;
            line-height: 60px;
            letter-spacing: 0;
            color: #000;
            font-weight: 300;
            text-align: center;
            font-family: 'Prata-Regular';
        }
    }

    .category-description {
        width: 650px;
        margin: 0 auto 50px;
        text-align: center;
        max-width: 100%;
    }

    .toolbar-products {
        .pages {
            ul {
                &.pages-items {
                    li {
                        &.item {
                            margin: 0px;

                            &.current {
                                strong {
                                    &.page {
                                        color: #000000;
                                        background-color: transparent;
                                        border: 1px solid #000000;
                                        border-radius: 30px;
                                        width: 32px;
                                        height: 32px;
                                        line-height: 30px;
                                        text-align: center;
                                        padding: 0px;
                                        margin: 0 2.5px;
                                    }
                                }
                            }

                            a {
                                &.page {
                                    color: #000;
                                    background: transparent;
                                    border: 1px solid transparent;
                                    border-radius: 30px;
                                    width: 32px;
                                    height: 32px;
                                    line-height: 30px;
                                    text-align: center;
                                    padding: 0;
                                    margin: 0 5px;
                                }
                            }

                            &.pages-item-next,
                            &.pages-item-previous {
                                a {
                                    font-size: 18px;
                                    color: #000000;
                                    background-color: #FFFFFF;
                                    border: 1px solid #FFFFFF;
                                    border-radius: 30px;
                                    width: 32px;
                                    height: 32px;
                                    padding: 0px;
                                    margin: 0 5px;
                                    -webkit-box-shadow: unset;
                                    box-shadow: unset;
                                    line-height: 30px;
                                    text-align: center;

                                    &:before {
                                        color: #000;
                                        font-size: 18px;
                                    }

                                    &:hover {
                                        background-color: #000000;
                                        border: 1px solid #000000;

                                        &:before {
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .toolbar-amount {
            font-size: 12px;
            text-transform: uppercase;
        }

        .modes {
            .modes-mode {
                -webkit-box-shadow: unset;
                box-shadow: unset;
                background-color: #FFFFFF;
                border: 1px solid #FFFFFF;

                &:hover:before {
                    color: #000;
                }

                &.active {
                    background-color: #FFFFFF;
                    border: 1px solid #FFFFFF;
                    color: #000000;
                }

                &.active::before {
                    color: #000;
                }
            }
        }

        .toolbar-sorter {
            label {
                font-size: 12px;
                text-transform: uppercase;
            }

            select {
                &.sorter-options {
                    font-size: 12px;
                    color: #454545;
                    border-width: 0 0 1px 0;
                    min-height: 24px;
                    line-height: 18px;
                    border-style: solid;
                    border-color: #CCCCCC;
                    -webkit-box-shadow: unset;
                    box-shadow: unset;
                    background: url('../images/arrow.svg');
                    border-radius: 0px;
                    background-size: 12px;
                    padding: 0px 30px 2px 5px;
                    background-repeat: no-repeat;
                    background-position: right;
                    text-transform: uppercase;
                }
            }

            .sorter-action {
                &:before {
                    color: #000;
                    font-size: 11px;
                }
            }
        }

        .limiter {

            .label,
            .limiter-text {
                text-transform: uppercase;
                font-size: 12px;
            }

            .limiter-options {
                font-size: 12px;
                color: #454545;
                border-width: 0 0 1px 0;
                min-height: 24px;
                line-height: 18px;
                border-style: solid;
                border-color: #CCCCCC;
                -webkit-box-shadow: unset;
                box-shadow: unset;
                background: url('../images/arrow.svg');
                border-radius: 0px;
                background-size: 12px;
                padding: 0px 30px 2px 5px;
                background-repeat: no-repeat;
                background-position: right;
                text-transform: uppercase;
            }
        }
    }
}

@media @max1199 {
    .container {
        max-width: 100%;
    }
}

@media @max991 {
    .container {
        max-width: 100%;
    }

    .product-item {
        .action.towishlist {
            &::before {
                width: 20px;
                font-size: 15px;
            }
        }
    }
}

@media @max640 {
    .page-products {
        .grid.products-grid {
            .product-item:nth-child(4n+1) {
                margin-left: 0px;
            }
        }
    }

    .column {
        &.main {
            .products-grid {
                ol {
                    margin: 0 -7px;
                }

                .product-item {
                    width: 50%;
                    margin-left: 0px;
                    padding: 0 7px;

                    .swatch-attribute.color.simple-product {
                        display: none;
                    }
                }
            }

            li {
                &.product-item {
                    margin-bottom: 20px;
                }
            }

            .product-item-actions {
                display: block;
            }
        }
    }
}

@media @max480 {
    .column {
        &.main {
            .products-grid {
                .product-item {
                    width: 100%;
                }
            }
        }
    }

    .catalog-category-view {
        .toolbar-products {
            .toolbar-sorter {
                select.sorter-options {
                    padding-right: 25px;
                }

                label {
                    display: none;
                }
            }
        }
    }

    .customer-account-create,
    .customer-account-login {
        .actions-toolbar {
            >.primary {
                .action {
                    width: 100%;
                }
            }
        }
    }
}